.section_padding {
  padding: 1rem 4rem;
}

.footer {
  border-top:2px solid #666666 ;
  background-color: #121212;
}

.sb_footer {
  display: flex;
  flex-direction: column;
}

.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
}

.sb_footer-links_div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.socialmedia img {
  width: 20px;
  /* Set the same width */
  height: 20px;
  /* Set the same height */
  object-fit: contain;
  /* Ensure the image scales properly within the defined width and height */
  margin-right: 3px;
}

.sb_footer-links_div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb_footer-links_div p {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb_footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb_footer-below-links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}

hr {
  color: white important;
  width: 100%;
}
.sb_footer-copyright {
  display: flex;
  justify-content: center;  /* Centers the content horizontally */
  align-items: center;  /* Centers the content vertically (if needed) */
  width: 100%;  /* Ensure it takes the full width of the container */
}


.sb_footer-copyright p {
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  color: rgb(237, 222, 222);
  font-weight: 100;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top:2px solid #666666 ;
}

@media screen and (max-width: 850px) {
  .sb_footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .sb_footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  I .sb_footer-links div {
    margin: 1rem 0;
  }

  .sb_footer-btn p {
    font-size: 14px;
    line-height: 20px;

    .sb_footer-below {
      flex-direction: column;
      justify-content: left;
    }

    .sb_footer-below-links {
      flex-direction: column;
    }

    .sb_footer-below-links p {
      margin-left: Ørem;
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .sb_footer-heading h₁ {
    font-size: 27px;
    line-height: 38px;

  }
}

@media (max-width: 768px) {
  .section_padding {
    padding: 1rem 1rem;
  }
  .footer {
    background-color: #121212;
  }
}