/* Default Light Mode Styles */
.search {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border: 1px solid #777777;
  padding: 5px;
  border-radius: 25px;
  width: 300px;
}

.search input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000;
}

.search button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  outline: none;
  border-radius: 25px;
}

/* Dark mode */
body.dark-mode .search {
  background-color: #121212;
  border: 1px solid #bbbbbb;
}

body.dark-mode .search input {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .search button {
  color: #ffffff;
}
